<nav class="navbar navbar-default rgb-menu">
  <div class="container-fluid no-padding">
    <ul class="nav navbar-nav text-white" >
      <li class="rgb-menu-item red vmin2-5"><a href="#" style="color: white">Home</a></li>
      <li class="rgb-menu-item green vmin2-5"><a href="#" style="color: white">New Projects</a></li>
      <li class="rgb-menu-item blue vmin2-5"><a href="#" style="color: white">About Us</a></li>
      <li class="dropdown rgb-menu-item red">
        <a class="dropdown-toggle rgb-menu-item red text-white vmin2-5" id="a" data-toggle="dropdown" href="#" style="color: white">More<span class="caret"></span></a>
        <ul class="dropdown-menu no-padding" style="border: 2px solid #333">
          <li style="background-color: #c66"><a href="#" class="vmin2-5" style="color: white; border: 2px solid #333">Chrome App Help</a></li>
          <li style="background-color: #6c6"><a href="#" class="vmin2-5" style="color: white; border: 2px solid #333"">Temp</a></li>
          <li style="background-color: #66c"><a href="#" class="vmin2-5" style="color: white; border: 2px solid #333"">Temp</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right text-white">
      <li class="rgb-menu-item green vmin2-5"><a href="#" style="color: white">Mail</a></li>
      <li class="rgb-menu-item blue vmin2-5"><a href="#" style="color: white">Facebook</a></li>
      <li class="rgb-menu-item red vmin2-5"><a href="#" style="color: white">Youtube</a></li>
      <li class="rgb-menu-item blue vmin2-5"><a href="#" style="color: white">Twitter</a></li>
    </ul>
  </div>
</nav>